@page
@model CED.Web.Pages.ClassInformations.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ClassInformation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClassInformation.Title" class="control-label"></label>
                <input asp-for="ClassInformation.Title" class="form-control" />
                <span asp-validation-for="ClassInformation.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassInformation.Description" class="control-label"></label>
                <input asp-for="ClassInformation.Description" class="form-control" />
                <span asp-validation-for="ClassInformation.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassInformation.Status" class="control-label"></label>
                <select asp-for="ClassInformation.Status" class="form-control"></select>
                <span asp-validation-for="ClassInformation.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassInformation.LearningFormality" class="control-label"></label>
                <select asp-for="ClassInformation.LearningFormality" class="form-control"></select>
                <span asp-validation-for="ClassInformation.LearningFormality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassInformation.Fee" class="control-label"></label>
                <input asp-for="ClassInformation.Fee" class="form-control" />
                <span asp-validation-for="ClassInformation.Fee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassInformation.ChargeFee" class="control-label"></label>
                <input asp-for="ClassInformation.ChargeFee" class="form-control" />
                <span asp-validation-for="ClassInformation.ChargeFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassInformation.GenderRequirement" class="control-label"></label>
                <select asp-for="ClassInformation.GenderRequirement" class="form-control"></select>
                <span asp-validation-for="ClassInformation.GenderRequirement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassInformation.AcademicLevel" class="control-label"></label>
                <select asp-for="ClassInformation.AcademicLevel" class="form-control"></select>
                <span asp-validation-for="ClassInformation.AcademicLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassInformation.StudentGender" class="control-label"></label>
                <select asp-for="ClassInformation.StudentGender" class="form-control"></select>
                <span asp-validation-for="ClassInformation.StudentGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassInformation.NumberOfStudent" class="control-label"></label>
                <input asp-for="ClassInformation.NumberOfStudent" class="form-control" />
                <span asp-validation-for="ClassInformation.NumberOfStudent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassInformation.MinutePerSession" class="control-label"></label>
                <input asp-for="ClassInformation.MinutePerSession" class="form-control" />
                <span asp-validation-for="ClassInformation.MinutePerSession" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassInformation.SessionPerWeek" class="control-label"></label>
                <input asp-for="ClassInformation.SessionPerWeek" class="form-control" />
                <span asp-validation-for="ClassInformation.SessionPerWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassInformation.Address" class="control-label"></label>
                <input asp-for="ClassInformation.Address" class="form-control" />
                <span asp-validation-for="ClassInformation.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassInformation.LastModificationTime" class="control-label"></label>
                <input asp-for="ClassInformation.LastModificationTime" class="form-control" />
                <span asp-validation-for="ClassInformation.LastModificationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassInformation.LastModifierId" class="control-label"></label>
                <input asp-for="ClassInformation.LastModifierId" class="form-control" />
                <span asp-validation-for="ClassInformation.LastModifierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassInformation.CreationTime" class="control-label"></label>
                <input asp-for="ClassInformation.CreationTime" class="form-control" />
                <span asp-validation-for="ClassInformation.CreationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassInformation.CreatorId" class="control-label"></label>
                <input asp-for="ClassInformation.CreatorId" class="form-control" />
                <span asp-validation-for="ClassInformation.CreatorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassInformation.ExtraProperties" class="control-label"></label>
                <input asp-for="ClassInformation.ExtraProperties" class="form-control" />
                <span asp-validation-for="ClassInformation.ExtraProperties" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassInformation.ConcurrencyStamp" class="control-label"></label>
                <input asp-for="ClassInformation.ConcurrencyStamp" class="form-control" />
                <span asp-validation-for="ClassInformation.ConcurrencyStamp" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ClassInformation.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
